#header{
    overflow: visible;
}
.header-action .js-query-autocompleter {
    width: 441px;
    z-index: 10000;
    background-color: #FFF;
    clear: both;
    position: absolute;
    top: 44px
}

.footer-search .js-query-autocompleter {
    left: 389px;
    position: absolute;
    width: 252px
}

.js-query-autocompleter ul li {
    margin-bottom: 0
}
.js-query-autocompleter ul li.liSelected {
    background: blue;
}

.js-query-autocompleter ul {
    padding: 0;
    z-index: 10000
}

.js-query-autocompleter .produit {
    padding: 6px 75px 25px 65px;
    z-index: 10000
}

.js-query-autocompleter ul li {
    color: #777;
    cursor: pointer;
    display: block;
    font-size: 10px;
    padding: 5px 75px 3px 7px;
    position: relative;
    background-color: #fff;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    z-index: 10000;
    text-align: left
}

.js-query-autocompleter ul {
    list-style-type: none;
    z-index: 10000
}

.js-query-autocompleter ul li:hover .match {
    color: #fff;
    z-index: 10000;
    font-weight: bold
}

.js-query-autocompleter ul li:hover {
    background-color: #ef6c0f;
    color: rgba(255,255,255,0.9);
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    z-index: 10000
}

.js-query-autocompleter .produit {
    padding: 6px 75px 5px 65px;
    background-color: #fff;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    min-height: 45px;
    z-index: 10000
}

.js-query-autocompleter span.match {
    position: static;
    z-index: 10000;
    font-weight: bold
}

.js-query-autocompleter .produit img {
    border: 1px solid #fff;
    left: 8px;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 6px;
    border: 1px solid #999;
    z-index: 10000
}

.js-query-autocompleter ul li.produit:hover .info {
    color: rgba(255,255,255,0.8);
    z-index: 10000
}

.js-query-autocompleter .produit .info {
    color: #aaa;
    font-size: 12px;
    left: 65px;
    z-index: 10000
}

.js-query-autocompleter ul li.produit:hover .price {
    color: #fff;
    z-index: 10000
}

.js-query-autocompleter .produit .price {
    color: #777;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 10000
}
