
<ul><li class="marque"><span class="match">SAMSUNG</span></li><li class="marque"><span class="match">SAMSONITE</span></li><li class="marque">MCL <span class="match">SAMAR</span></li><li class="type">Aspirateur robot - <span class="match">SAMSUNG</span></li><li class="type">Réfrigérateur américain - <span class="match">SAMSUNG</span></li></ul>
